# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/
.turbo/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Logs & coverage
logs/
*.log
npm-debug.log*
coverage/
.nyc_output/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# Misc
*.local
.vercel
